<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>

	<% if ( userFullName ) { %>
	<h1>Hello <%=userFullName%> </h1> 
      <a href="/signout">Sign out</a>
	<% } else { %>
	  <a href="/signup">Signup</a>
	  <a href="/signin">Signin</a>
	<% } %>
	<br>

    <img src="img/logo.png" width="100" alt="logo">
  </body>
</html>
